In [1]:
import os
import time

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# the maximum year is 2015 because we did an inner join (see population-EDA)

In [2]:
df = pd.read_csv('france-merged.csv')
df.head(10)

,Unnamed: 0,Region Code,region,Year0,Score00,Surname00,Name00,Parti00,Score01,Surname01,...,Autres (1),Revenu disponible brut,year,0 à 19 ans,20 à 39 ans,40 à 59 ans,60 à 74 ans,75 ans et plus,Total,gender
0,0,44,Grand Est,2017,27 ...,LE PEN,Marine,FN,"20 ,72",MACRON,...,1384.0,15742.0,2002,711760,765534,728228,325409,123997,2654928,male
1,1,44,Grand Est,2017,27 ...,LE PEN,Marine,FN,"20 ,72",MACRON,...,1384.0,15742.0,2002,678929,750884,725061,381557,241356,2777787,female
2,2,44,Grand Est,2017,27 ...,LE PEN,Marine,FN,"20 ,72",MACRON,...,1388.0,16003.0,2003,707265,760356,739102,324931,129118,2660772,male
3,3,44,Grand Est,2017,27 ...,LE PEN,Marine,FN,"20 ,72",MACRON,...,1388.0,16003.0,2003,674017,746288,738492,378573,248303,2785673,female
4,4,44,Grand Est,2017,27 ...,LE PEN,Marine,FN,"20 ,72",MACRON,...,1464.0,16709.0,2004,705080,751778,751632,323543,134037,2666070,male
5,5,44,Grand Est,2017,27 ...,LE PEN,Marine,FN,"20 ,72",MACRON,...,1464.0,16709.0,2004,671954,737633,753405,375094,254722,2792808,female
6,6,44,Grand Est,2017,27 ...,LE PEN,Marine,FN,"20 ,72",MACRON,...,1450.0,16886.0,2005,701776,744060,764678,322365,139744,2672623,male
7,7,44,Grand Est,2017,27 ...,LE PEN,Marine,FN,"20 ,72",MACRON,...,1450.0,16886.0,2005,669428,730439,767892,372104,262784,2802647,female
8,8,44,Grand Est,2017,27 ...,LE PEN,Marine,FN,"20 ,72",MACRON,...,1507.0,17529.0,2006,697214,737346,773360,322187,147873,2677980,male
9,9,44,Grand Est,2017,27 ...,LE PEN,Marine,FN,"20 ,72",MACRON,...,1507.0,17529.0,2006,664690,724170,781627,367424,274201,2812112,female

# Testing