In [1]:
import os
import time

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Processing the data

In [33]:
df_pop_reg_2002 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2002')
df_pop_reg_2003 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2003')
df_pop_reg_2004 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2004')
df_pop_reg_2005 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2005')
df_pop_reg_2006 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2006')
df_pop_reg_2007 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2007')
df_pop_reg_2008 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2008')
df_pop_reg_2009 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2009')
df_pop_reg_2010 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2010')
df_pop_reg_2011 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2011')
df_pop_reg_2012 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2012')
df_pop_reg_2013 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2013')
df_pop_reg_2014 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2014')
df_pop_reg_2015 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2015')
df_pop_reg_2016 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2016')
df_pop_reg_2017 = pd.read_excel('estim-pop-nreg-sexe-gca-1975-2020.xls', header=[0,1], sheet_name='2017')

In [35]:
df_pop_reg_2002['year'] = '2002' 
df_pop_reg_2003['year'] = '2003' 
df_pop_reg_2004['year'] = '2004' 
df_pop_reg_2005['year'] = '2005' 
df_pop_reg_2006['year'] = '2006' 
df_pop_reg_2007['year'] = '2007' 
df_pop_reg_2008['year'] = '2008' 
df_pop_reg_2009['year'] = '2009' 
df_pop_reg_2010['year'] = '2010' 
df_pop_reg_2011['year'] = '2011' 
df_pop_reg_2012['year'] = '2012' 
df_pop_reg_2013['year'] = '2013' 
df_pop_reg_2014['year'] = '2014' 
df_pop_reg_2015['year'] = '2015'
df_pop_reg_2016['year'] = '2015'
df_pop_reg_2017['year'] = '2015'

In [39]:
df_pop_reg = pd.concat([df_pop_reg_2002, df_pop_reg_2003, df_pop_reg_2004, df_pop_reg_2005, df_pop_reg_2006, df_pop_reg_2007, df_pop_reg_2008,
                    df_pop_reg_2009, df_pop_reg_2010, df_pop_reg_2011, df_pop_reg_2012, df_pop_reg_2013, df_pop_reg_2014, df_pop_reg_2015, 
                    df_pop_reg_2016, df_pop_reg_2017], ignore_index=True)

In [43]:
df_pop_reg.sample(3)

                Régions   Ensemble                                      \
     Unnamed: 0_level_1 0 à 19 ans 20 à 39 ans 40 à 59 ans 60 à 74 ans
110           Occitanie    1245785     1324531     1485169      779977
50            Occitanie    1203295     1317414     1405919      755205
129  Nouvelle-Aquitaine    1266548     1341522     1590846      859219

                                Hommes                                      \
    75 ans et plus    Total 0 à 19 ans 20 à 39 ans 40 à 59 ans 60 à 74 ans
110         535655  5371117     637846      658042      724763      367284
50          485719  5167552     615251      653744      688165      354323
129         612941  5671076     649040      669794      778512      405220

                                Femmes                                      \
    75 ans et plus    Total 0 à 19 ans 20 à 39 ans 40 à 59 ans 60 à 74 ans
110         205542  2593477     607939      666489      760406      412693
50          184293  2495776     588044      663670      717754      400882
129         230335  2732901     617508      671728      812334      453999

                             year
    75 ans et plus    Total
110         330113  2777640  2007
50          301426  2671776  2004
129         382606  2938175  2008

In [20]:
df_rdb_2002 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2002-Déf par hab')
df_rdb_2003 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2003-Déf par hab')
df_rdb_2004 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2004-Déf par hab')
df_rdb_2005 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2005-Déf par hab')
df_rdb_2006 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2006-Déf par hab')
df_rdb_2007 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2007-Déf par hab')
df_rdb_2008 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2008-Déf par hab')
df_rdb_2009 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2009-Déf par hab')
df_rdb_2010 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2010-Déf par hab')
df_rdb_2011 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2011-Def par hab')
df_rdb_2012 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2012-Déf par hab')
df_rdb_2013 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2013-déf par hab')
df_rdb_2014 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2014-déf par hab')
df_rdb_2015 = pd.read_excel('rdb-regions-menages-1994-2015.xls', sheet_name='RDB2015-semidéf par hab')

In [21]:
df_rdb_2002['year'] = '2002' 
df_rdb_2003['year'] = '2003' 
df_rdb_2004['year'] = '2004' 
df_rdb_2005['year'] = '2005' 
df_rdb_2006['year'] = '2006' 
df_rdb_2007['year'] = '2007' 
df_rdb_2008['year'] = '2008' 
df_rdb_2009['year'] = '2009' 
df_rdb_2010['year'] = '2010' 
df_rdb_2011['year'] = '2011' 
df_rdb_2012['year'] = '2012' 
df_rdb_2013['year'] = '2013' 
df_rdb_2014['year'] = '2014' 
df_rdb_2015['year'] = '2015'

In [25]:
df_rdb = pd.concat([df_rdb_2002, df_rdb_2003, df_rdb_2004, df_rdb_2005, df_rdb_2006, df_rdb_2007, df_rdb_2008, df_rdb_2009, df_rdb_2010,
                   df_rdb_2011, df_rdb_2012, df_rdb_2013, df_rdb_2014, df_rdb_2015], ignore_index=True)

In [45]:
df_rdb.sample(3)

,Régions,Excédent brut et revenu mixte,Salaires et traitements bruts,Cotisations sociales des salariés et des non-salariés,Impôts,Prestations en espèces,Autres (1),Revenu disponible brut,year
61,DOM,2781.0,6407.0,520.0,698.0,2712.0,170.0,10852.0,2004
221,France métropolitaine hors Ile-de-France,4209.0,11078.0,1857.0,2498.0,6795.0,1655.0,19382.0,2011
218,Pays de la Loire,3890.0,11089.0,1873.0,2372.0,6853.0,1549.0,19136.0,2011

# Analysis on Population

In [ ]:
#TODO

# Analysis on Revenue

In [ ]:
#TODO